*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111;
    border-bottom:2px solid #00c3ff;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00c3ff;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

.menu a:hover{
    color:#00c3ff;
}

.detalle-producto{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:80px 10%;
    flex-wrap:wrap;
}

.imagen-producto img{
    width:450px;
    border-radius:15px;
    box-shadow:0 0 25px rgba(0,195,255,0.4);
}

.info-producto{
    max-width:500px;
}

.info-producto h1{
    font-size:42px;
    margin-bottom:20px;
    color:#00c3ff;
}

.descripcion{
    font-size:18px;
    margin-bottom:20px;
    color:#ccc;
}

.info-producto ul{
    margin-bottom:25px;
    padding-left:20px;
}

.info-producto ul li{
    margin-bottom:10px;
}

.info-producto h2{
    font-size:36px;
    margin-bottom:25px;
}

button{
    background:#00c3ff;
    color:black;
    border:none;
    padding:15px 30px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    border-radius:8px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.volver{
    display:block;
    margin-top:25px;
    color:#00c3ff;
    text-decoration:none;
    font-size:18px;
}

.volver:hover{
    text-decoration:underline;
}
